@import './_variables';
@import './_animations';
/* Write you own custom component styles here */

/*@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}*/

hr {
  @apply border-darkbrand-50 my-6;
}
.dark hr {
  @apply border-darkbrand-600;
}
